#gcp_project_id = "PROJECT_ID"

# GCP APIs to Enable
gcp_project_services = [
  "cloudbuild.googleapis.com",
  "compute.googleapis.com",
  "container.googleapis.com",
  "artifactregistry.googleapis.com",
  "servicecontrol.googleapis.com",
  "run.googleapis.com",
  "containerregistry.googleapis.com",
]

# VPC
vpc_name = "default"

# Artifact Registry Repo Configs
artifact_repo = {
  "genai-repo": {
    "location": "us-central1"
  }
}

# GKE Cluster Configs
gke_clusters = {
  "genai-us-central1" : {
    "region" : "us-central1",
    "machine_type" : "e2-standard-4"
  }
}

